@custom-media --sm (width >= 25em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 70em);
@custom-media --xl (width >= 96em);
@custom-media --xxl (width >= 120em);
@custom-selector :--heading
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6;

:root {
	--spacing-xs: 0.375rem;
	--spacing-sm: 0.625rem;
	--spacing-md: 1.25rem;
	--spacing-lg: 2.5rem;
	--spacing-xl: 3.75rem;
	--spacing-xxl: 5rem;

	--fluid-type-min-width: 25;
	--fluid-type-max-width: 120;

	--transition-smooth: cubic-bezier(0.765, 0, 0.175, 1);

	--font-base: "Quicksand", sans-serif;
	--font-header: "Quicksand", sans-serif;

	--color-yellow-500: #fec107;
	--color-orange-500: #ff5722;

	--color-grey-500: #333b44;

	--color-base: #333333;
	--heading-color: var(--color-base);
	--link-color: var(--color-base);

	--outline-color: var(--color-orange-500);
	--selection-color: var(--color-orange-500);
}
