@custom-media --sm (width >= 25em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 70em);
@custom-media --xl (width >= 96em);
@custom-media --xxl (width >= 120em);

:root {
	--half-padding: 0.625rem;
	--base-padding: 1.25rem;
	--double-padding: 2.5rem;
	--triple-padding: 3.75rem;

	--base-rhythm: 1.25rem;
	--fluid-type-min-width: 25;
	--fluid-type-max-width: 96;

	--font-color: #1a1a1a;
	--font-base: "Quicksand", sans-serif;
	--font-header: "Quicksand", sans-serif;

	--outline-color: var(--color-orange);
	--selection-color: var(--color-orange);

	--color-yellow: #fec107;
	--color-orange: #ff5722;

	--color-grey: #333b44;
}
