@custom-media --sm (width >= 25em);
@custom-media --md (width >= 48em);
@custom-media --lg (width >= 70em);
@custom-media --xl (width >= 96em);
@custom-media --xxl (width >= 120em);

:root {
	--rhythm-sm: 0.625rem;
	--rhythm-md: 1.25rem;
	--rhythm-lg: 2.5rem;
	--rhythm-xl: 3.75rem;
	--rhythm-xxl: 5rem;

	--fluid-type-min-width: 25;
	--fluid-type-max-width: 96;

	--transition-smooth: cubic-bezier(0.765, 0, 0.175, 1);

	--font-base: "Quicksand", sans-serif;
	--font-header: "Quicksand", sans-serif;

	--color-yellow-500: #fec107;
	--color-orange-500: #ff5722;

	--color-grey-500: #333b44;

	--font-color: #333333;
	--heading-color: var(--font-color);
	--link-color: var(--font-color);

	--outline-color: var(--color-orange-500);
	--selection-color: var(--color-orange-500);
}
